#mentions {
    width: 85%;
    margin: 0 auto;
    min-height: calc(100vh - 69px);
    height: max-content;
    padding-bottom: 35px;
}

#mentions h1 {
    font-size: 3em;
    padding-top: 25px;
    margin-bottom: 45px;
}

.articles {
    margin-bottom: 25px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

section p {
    font-size: 1.1em;
    line-height: 1.5em;
}