#projets {
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 69px);
    height: auto;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 35px;
}

#projets h2 {
    display: block;
    width: max-content;
    margin: 22px 0;
    font-size: 3em;
}

.bloc-projet {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 35px;
}

.projet {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 5px 10px 5px 0px;
    border-radius: 5px;
    height: 300px;
    width: 32%;
    min-width: 450px;
}

.projet img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.projet a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30, 30, 30, .7);
    color: white;
    font-weight: 500;
    font-size: 2.2em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    padding: 0 12px;
}

#tri {
    height: max-content;
    width: 100%;
    margin-bottom: 20px;
    display: none;
    flex-wrap: wrap;
}

#tri button {
    cursor: pointer;
    font-size: 1em;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    border: 1px solid #140B6E;
    font-weight: 500;
    background-color: #FFFFFF;
    height: max-content;
    width: max-content;
    min-width: max-content;
    padding: 8px 12px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
}

#tri button:hover, #tri button.active {
    background-color: #140B6E;
    color: white;
}

#projects {
    height: max-content;
    display: flex;
    flex-direction: column;
}

#projects a {
    margin-bottom: 10px;
}

#projects button {
    cursor: pointer;
    background-color: transparent;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    text-align: left;
    color: #333333;
    font-size: 1em;
    margin-left: 15px;
    padding: 2px 7px;
    border: none;
}

#projects button:hover, #projects button.active {
    background-color: #140B6E;
    color: white;
}

li:nth-child(3):hover {
    font-size: 1.2em;
}

li:nth-child(3) a:hover {
    font-size: 1.1em;
}

.none {
    display: none;
    visibility: hidden;
}

.active {
    display: flex;
    visibility: visible;
}