@media screen and (max-width: 1720px) {
    .projet {
        height: 350px;
        width: 48%;
    }

}
@media screen and (max-width: 1300px) {
    .projet {
        height: 280px;
        width: 48%;
        min-width: 280px;
    }
}
/*-PETIT-LAPTOP--GRANDE-TABLETTE-----------*/
@media screen and (max-width: 1024px) {
    header {
        left: -168px;
    }

    li {
        margin-left: 84px;
    }

    .logo {
        width: 84px;
        margin: 0 0 20px 143px;
    }

    header div .logo img {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 60px;
    }

    #projects {
        height: 30px;
    }

    .btnMenu {
        display: flex;
    }

    nav {
        margin-top: 180px;
    }

    .oda {
        display: none;
        visibility: hidden;
    }

    main {
        padding-left: 84px;
    }

    .agence, #contact, #mentions {
        width: 95%;
    }

    #tri {
        display: flex;
    }

    .projet {
        height: 280px;
        min-width: 300px;
        width: 48%;
    }

    #projects button {
        display: none;
        visibility: hidden;
    }

    footer {
        padding: 0 20px 0 104px;
    }

}
/*-TABLET-->>--SMARTPHONE------------------*/
@media screen and (max-width: 768px) {
    .projet {
        height: 200px;
        min-width: 250px;
    }
}
@media screen and (max-width: 650px) {
    .projet {
        height: 260px;
        min-width: 300px;
        width: 100%;
    }
}


/*-SMARTPHONE-->>--TELEPHONE---------------*/
@media screen and (max-width: 480px) {
    .projet {
        height: 200px;
        min-width: 300px;
        width: 100%;
    }







}