.home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: calc(100% - 250px);
    min-width: 320px;
    overflow-x: hidden;
    margin-left: 250px;
}

.slider {
    position: absolute;
    overflow: hidden;
    height: 100vh;
    width: 900%;
    display: flex;
    left: 0;
    animation: sliderAuto 32s 2s ease-in infinite;
}

.slide {
    overflow: hidden;
    background-color: white;
    height: 100%;
    width: 100%;
}

.slide img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

@keyframes sliderAuto {
    0% {
        left: 0;
    }
    9% {
        left: 0;
    }
    12.5% {
        left: -100%;
    }
    21.5% {
        left: -100%;
    }
    25% {
        left: -200%;
    }
    34% {
        left: -200%;
    }
    37.5% {
        left: -300%;
    }
    46.5% {
        left: -300%;
    }
    50% {
        left: -400%;
    }
    59% {
        left: -400%;
    }
    62.5% {
        left: -500%;
    }
    71.5% {
        left: -500%;
    }
    75% {
        left: -600%;
    }
    84% {
        left: -600%;
    }
    87.5% {
        left: -700%;
    }
    96.5% {
        left: -700%;
    }
    100% {
        left: -800%;
    }
}

/*-PROJET-SCROLL------------------------------------------*/

/* #projets {
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
    min-height: 94vh;
    height: auto;
    width: 100%;
    padding-left: 300px;
    background-color: white;
}

#projets h2 {
    display: block;
    width: max-content;
    margin: 22px 0;
    font-size: 3em;
}

.bloc-projet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: calc(97vw - 360px);
    padding-bottom: 40px;

}

.projet {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0 10px 12px 0;
    border-radius: 5px;
    height: 15vw;
    min-height: 270px;
    width: 24vw;
    min-width: 450px;
}

.projet img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}

.projet a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30, 30, 30, .7);
    color: white;
    font-weight: 500;
    font-size: 2.2em;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0;
    padding: 0 12px;
}

.projet a:hover {
    opacity: 1;
} */